/* Reset стилей для обнуления стандартных стилей браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social-icons {
    position: absolute;
    top: 20px; /* Подберите нужный вам верхний отступ */
    right: 20px; /* Подберите нужный вам правый отступ */
}

.social-icons a {
    margin-left: 10px; /* Добавьте немного отступа между иконками */
}
/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif; /* Шрифт */
    background-color: #f8f8f8; /* Цвет фона */
    color: #333; /* Цвет текста */
}

/* Шапка сайта */
header {
    background-color: #ffffff; /* Цвет фона шапки */
    padding: 20px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
}

h1 {
    font-size: 48px; /* Размер шрифта названия кафе */
}

nav ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
}

nav ul li {
    display: inline; /* Элементы меню в строку */
    margin-right: 20px; /* Отступы между пунктами меню */
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #000000; /* Цвет текста категорий */
    transition: color 0.3s; /* Плавный переход при изменении цвета */
}

nav ul li a:hover {
    color: #FFD700; /* Цвет текста категорий при наведении */
}

/* Основное содержимое сайта */
main {
    padding: 20px; /* Отступы */
}

/* Секции сайта */
section {
    margin-bottom: 40px; /* Отступ между секциями */
}

h2 {
    font-size: 36px; /* Размер шрифта заголовков секций */
}

.promotion-content img {
    max-width: 100%; /* Изображения акций на всю ширину контейнера */
    height: auto; /* Автоматическая высота */
}

.about-content img {
    float: left; /* Обтекание текстом слева */
    margin-right: 20px; /* Отступ справа от изображения */
}

/* Подвал сайта */
footer {
    background-color: #ffffff; /* Цвет фона подвала */
    padding: 20px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
}
.about-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-photo {
    width: 200px; /* Размер фотографий */
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.about-photo:hover {
    transform: scale(1.05);
}
.section-reviews {
    padding: 20px;
    text-align: center;
    background-color: #F4F4F4;
    margin-bottom: 20px;
    border-radius: 10px;
}

.reviews-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review {
    margin: 10px;
}

.review-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.review-img:hover {
    transform: scale(1.05);
}

.special-offer {
    font-weight: bold;
    margin-top: 30px;
   font-size:24px;
    color: #000000; /* Оранжевый цвет для акцента */
}